<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map { height: 100% }
    </style>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="./keys.js"></script>
    <script src="./googlemaps.js"></script>
    <script type="text/javascript">
     let map;

     async function initMap() {
       const { Map } = await google.maps.importLibrary("maps");
       const { AdvancedMarkerElement } = await google.maps.importLibrary("marker");
       const { LatLngBounds } = await google.maps.importLibrary("core");

       map = new Map(document.getElementById("map"), {
         mapId: "where-is-my-child",
       });

       const bounds = new LatLngBounds();

       const coordinates_resp = await fetch('/api/coordinates')
       const coordinates = await coordinates_resp.json()

       coordinates.data.map((coordinate, index) => {
         bounds.extend(coordinate);

         return new AdvancedMarkerElement({
           map,
           position: coordinate,
           // icon: index == (coordinates.length - 1) ? 'static/images/green-dot.png' : 'static/images/red-dot.png',
         });
       });

       map.fitBounds(bounds);
     }

     initMap();
    </script>
  </head>
  <body>
    <div id="map" />
  </body>
</html>
